@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');

h1 {
    font-family: "Lobster";
    font-size: 80px;
    text-align: center;
    color: black;
    // background: rgba(255, 255, 255, 0.75);
    // background: #eb8f34;
    // background: #FE9603;
    background: rgba(254, 150, 3, .9);
    // background: #FB850A;
    padding: 0 0 20px 0;
    margin-top: 50%;
}

body {
    background: black;
}

ion-content {
    --background: #fff url("/assets/images/halloween2.jpg") no-repeat center right / cover;
}