<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    {{ selectedLocation.ad.num }} {{ selectedLocation.ad.str }}
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <img src="/assets/images/pretty-house.jpg" width="100%">

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="info" checked>
      <ion-label class="label--segment"><ion-icon name="paper" class="icon--tab"></ion-icon></ion-label>
    </ion-segment-button>
    <ion-segment-button value="gallery">
      <ion-label class="label--segment"><ion-icon name="images" class="icon--tab"></ion-icon></ion-label>
    </ion-segment-button>
    <ion-segment-button value="comments">
      <ion-label class="label--segment"><ion-icon name="chatbubbles" class="icon--tab"></ion-icon></ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="selectedTab == 'info'">
    <ion-grid>
      <ion-row>
        <ion-col (click)="loadRatings('comments')">
          <h4 style="text-align: center;"><span style="font-size: 30px;font-weight: bold;">{{ selectedLocation.curr }}</span> / 5</h4>
          <ul style="list-style-type: none;width: 100%;padding: 0;margin: 0 auto;width: 70%;">
            <!-- <li style="display: inline-block;width: 20%;text-align: center;"><ion-icon name="star" style="color: orange;font-size: 40px;"></ion-icon></li>
            <li style="display: inline-block;width: 20%;text-align: center;"><ion-icon name="star" style="color: orange;font-size: 40px;"></ion-icon></li>
            <li style="display: inline-block;width: 20%;text-align: center;"><ion-icon name="star" style="color: orange;font-size: 40px;"></ion-icon></li>
            <li style="display: inline-block;width: 20%;text-align: center;"><ion-icon name="star" style="color: orange;font-size: 40px;"></ion-icon></li>
            <li style="display: inline-block;width: 20%;text-align: center;"><ion-icon name="star" style="color: grey;font-size: 40px;"></ion-icon></li> -->
            <li><ion-icon name="star" class="highlight"></ion-icon></li>
            <li><ion-icon name="star" [class.highlight]="selectedLocation.curr >= 2"></ion-icon></li>
            <li><ion-icon name="star" [class.highlight]="selectedLocation.curr >= 3"></ion-icon></li>
            <li><ion-icon name="star" [class.highlight]="selectedLocation.curr >= 4"></ion-icon></li>
            <li><ion-icon name="star" [class.highlight]="selectedLocation.curr == 5"></ion-icon></li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row class="spacer">
        <ion-col size="9">
          <h1>{{ selectedLocation.ad.num }} {{ selectedLocation.ad.str }}</h1>
          <h2>{{ selectedLocation.ad.ci }} {{ selectedLocation.ad.st }}, {{ selectedLocation.ad.zip }}</h2>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="navigate"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="spacer">
        <ion-col>
          <p class="description">This house is a cozy home that has a lot of scary things in the yard and they also serve candy and stuff so yeah.</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          <h3>Show starts at: </h3>
          <p class="time">8:00 PM</p>
        </ion-col>
        <ion-col>
          <h3>Show ends at: </h3>
          <p class="time">10:00 PM</p>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-list>

  <ion-list *ngIf="selectedTab == 'gallery'" class="section--gallery">
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list *ngIf="selectedTab == 'comments'" class="section--comments">
    <ion-item *ngFor="let review of locationReviews">
      <ion-label>
        <h2>{{ review.ufn }} {{ review.uln }}</h2>
        <p>{{ review.re }}</p>
        <h4>Rating is: {{ review.ra }}</h4>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedTab == 'gallery'">
    <ion-fab-button (click)="presentAddImagePopover(event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedTab == 'comments'">
    <ion-fab-button (click)="presentAddCommentPopover(event)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>