<ion-content>
  <h1 class="title">Lights</h1>

  <!-- <ion-card *ngFor="let loc of geo.nearbyLocations" [geo_id]="loc.geo_id" [id]="loc.id" [geohash]="loc.geohash"> -->
  <ion-card *ngFor="let loc of geo.nearbyLocations" (click)="viewLocation(loc)">
    <ion-card-header>
      <ion-card-subtitle>
        {{ loc.ad.ci }} {{ loc.ad.st }}, {{ loc.ad.zip }}
      </ion-card-subtitle>
      <ion-card-title>
        {{ loc.ad.num }} {{ loc.ad.str }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/images/pretty-house.jpg">
      <!-- <ion-list> -->
        <!-- <ion-item> -->
          <!-- Rating: {{ loc.curr }} -->
          <ion-grid>
            <ion-row>
              <ion-col>
                <p style="font-size: 16px;float: left;">
                  <ion-icon name="star" style="font-size: 24px;color: orange;position:relative;top:5px;"></ion-icon>
                  <ion-icon name="star" style="font-size: 24px;color: orange;position:relative;top:5px;"></ion-icon>
                  <ion-icon name="star" style="font-size: 24px;color: orange;position:relative;top:5px;"></ion-icon>
                  ({{ loc.amtr }})
                </p>
              </ion-col>
              <ion-col>
                <p style="font-size: 16px;float: right;">
                  <ion-icon name="car" style="font-size: 24px;position:relative;top:5px;right:5px;"></ion-icon>{{ loc.queryMetadata.distance }} Mi.
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <p style="font-size: 16px;margin-top: 5px;float: left;">
            <ion-icon name="star" style="position: relative;top: 5px;font-size: 24px;color: orange;"></ion-icon><ion-icon name="star" style="position: relative;top: 5px;font-size: 24px;color: orange;"></ion-icon><ion-icon name="star" style="position: relative;top: 5px;font-size: 24px;color: orange;"></ion-icon> ({{ loc.amtr }})</p>
          <p style="font-size: 16px;float: right;">{{ loc.queryMetadata.distance }} Mi.</p> -->
            <!-- </ion-item> -->
      <!-- </ion-list> -->
      <!-- <ul>
        <li>{{ loc.curr }}</li>
        <li>{{ loc.amtr }}</li>
      </ul> -->
    </ion-card-content>
  </ion-card>

  <!-- ad:
ci: "Concord"
co: "US"
ln: "378 Cliffwood St NW, Concord, NC 28027, USA"
num: "378"
st: "NC"
str: "Cliffwood St NW"
zip: "28027"
__proto__: Object -->

  <!--
  geo_id: "ChIJC1HppNphwokRgWuoJAb2v6A"
  id: "pdFrb1czY39vS3K7JTzF"
  pos:
  geohash: "dr5xc58cy"
  geopoint: GeoPoint {_lat: 40.7568384, _long: -73.7828864}
  __proto__: Object
  queryMetadata:
  bearing: 0
  distance: 0 -->
</ion-content>

