@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap');

body {
    background: black;
}

h1.title {
    font-family: "Lobster";
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    text-shadow: 2px 3px black;
}

ion-content {
    --background: #fff url("/assets/images/halloween3.jpg") no-repeat top center / cover;
}

section {
    background: rgba(255, 255, 255, .75);
    padding: 20px;
    margin: 0 auto;
    width: 95%;
}

ion-card {
    background: white;
}

ion-segment {
    margin-bottom: 20px;
}

p {
    font-style: italic;
    line-height:14px;
    font-size: 12px;
}