<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listed" href="/list/listed">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/list/map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab vertical="top" horizontal="start" slot="fixed" color="light">
    <ion-fab-button href="/home">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" style="bottom: 75px;" slot="fixed" color="light">
    <ion-fab-button (click)="presentAddLocationModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>