<ion-content>
  <!-- <section>
    <h1>Find Lights Nearby</h1>
    <ion-input type="text" placeholder="Type in an address"></ion-input>
  </section>
  <section>
    <ion-button>Use your current location.</ion-button>
  </section> -->
  <h1 class="title">Halloween!</h1>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Search for Lights nearby.</ion-card-subtitle> -->
      <ion-card-title>Search for Homes nearby.</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <!-- <ion-input type="text" placeholder="Type in a location."></ion-input> -->
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-button (click)="selectMyLocation()" size="full" fill="outline" shape="round"><ion-icon name="locate" slot="start"></ion-icon>Use My Location</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>What are you looking for?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-segment (ionChange)="segmentChanged($event)" value="home" class="selection--type">
        <ion-segment-button value="home" checked>
          <img src="/assets/images/pumpkin.svg" alt="pumpkin">
        </ion-segment-button>
        <ion-segment-button value="candy">
          <img src="/assets/images/candy-corn.svg" alt="candy corn">
        </ion-segment-button>
        <ion-segment-button value="haunted-house">
          <img src="/assets/images/castle.svg" alt="castle">
        </ion-segment-button>
      </ion-segment>
      <p>This may make it easier for you to filter out unneccessary locations.</p>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Keep Location Updated?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-segment (ionChange)="segmentChanged($event)" value="yes">
          <ion-segment-button value="yes">
            <ion-label>Yes</ion-label>
          </ion-segment-button>
          <ion-segment-button value="no">
            <ion-label>No</ion-label>
          </ion-segment-button>
        </ion-segment>
      <p>This may make it easier for you to keep track of locations on the move.</p>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-content>
      <ion-button size="full" fill="outline" shape="round" (click)="saveSettings()">Continue</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>